<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
	<!-- plugins 插件的配置 实际上是使用：intercepter原理代理的 
	<plugins>
		<plugin interceptor="liuliu.learning.db.interceptor.SecondIntercepter">
			<property name="param1" value="root" />
			<property name="param2" value="root" />
		</plugin>
		<plugin interceptor="liuliu.learning.db.interceptor.ResultIntercepter">
			<property name="param1" value="root" />
			<property name="param2" value="root" />
		</plugin>
	</plugins>
	-->
</configuration>